{{#if showEditForm}}
  <form class="ui form">

    <div class="field">
      <label for="title">Title</label>
      {{input value=project.title id=title}}
    </div>

    <div class="field">
      <label for="url">URL</label>
      {{input value=project.url id=url}}
    </div>

    <div class="field">
      <label for="summary">Summary</label>
      {{textarea value=project.summary id=summary}}
    </div>

    <div class="field">
      <label for="article">Full Description</label>
      {{textarea value=project.article id=article}}
    </div>

    <div class="field">
      <label for="github">Github URL</label>
      {{input value=project.github id=github}}
    </div>

    <div class="field">
      <label for="thumb">Thumbnail Image</label>
      {{input value=project.thumb id=thumb}}
    </div>

    <div class="field">
      <label for="img">Full Image</label>
      {{input value=project.img id=img}}
    </div>

    <div class="field">
      <label for="sort">Sort Order</label>
      {{input value=project.sort id=sort}}
    </div>

    <button {{action 'edit' project}} class="ui primary button">Submit Changes</button> <button {{action 'delete' project}} class="ui red button">Delete</button> <button {{action 'hide'}} class="ui button">Hide</button>

  </form>
{{ else }}
  <h1 class="ui header">
    {{project.title}} <a href="{{project.url}}" target="_blank" class="small"><i class="icon external"></i></a>
    {{#if project.github}}
      <div class="sub header"><a href="{{project.github}}">View on Github</a></div>
    {{/if}}
  </h1>
  {{#link-to 'projects'}}back{{/link-to}}

  <div class="ui red segment km-full-content">
    {{project.article}}
  </div>

  <img src={{project.img}} class="ui fluid image">

  {{#if session.isAuthenticated}}
    <p><a {{action 'showEdit'}}>edit</a></p>
  {{/if}}
{{/if}}
