<div class="main-container">
  {{menu-display}}
</div>

<div class="km-main-container">
  {{outlet}}
</div>

<div class="ui container km-footer">
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.email}}
    <button {{action "signOut"}}>Sign out</button>
  {{else}}
    {{#link-to 'login'}}<button>Sign in</button>{{/link-to}}
  {{/if}}
</div>
